In [ ]:
!pip install googletrans==4.0.0-rc1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from googletrans import Translator

# Dataset Information

- Collected from [NewsData.io](https://newsdata.io)

- Date Range : **9 March 2025 to 23 March 2025**
- Query : **"Nagpur OR Maharashtra OR Muslim OR Islam OR Violence"**
- Total len of the data: **27937**

In [4]:
newsdata = pd.read_json('path/to/data-files/newsdata_articles_mar9_23.json')

In [6]:
newsdata.shape

(27937, 24)

In [5]:
newsdata.value_counts('language')

language
english      18367
marathi       4749
hindi         3656
gujarati       283
kannada        192
tamil          169
bengali        165
malayalam      141
telugu         108
punjabi         40
oriya           33
urdu            28
assamese         6
Name: count, dtype: int64

In [ ]:
translator = Translator()

def translate_title(row):
    if str(row['language']).lower() == "english":
        return row['title']
    try:
        translation = translator.translate(row['title'], dest='en')
        return translation.text
    except Exception as e:
        print(f"Translation failed for: {row['title']} | Error: {e}")
        return row['title']

newsdata['translated_title'] = newsdata.apply(translate_title, axis=1)

In [ ]:
newsdata.to_csv('path/to/data-files/translated_newsdata.csv', index=False)

In [ ]:
translated_newsdata = pd.read_csv('/content/drive/MyDrive/News_Analysis_Data/translated_newsdata.csv')

## Filter for `nagpur` and `mulsim` keywords to get two separate dataset for further analysis

# Nagpur Violence Dataset

In [7]:
translated_newsdata = pd.read_csv('/content/drive/MyDrive/News_Analysis_Data/nagpur_translated_data_notEnglish_27937.csv')

In [15]:
# The relevant columns are treated as strings and check for "nagpur"
# (case-insensitive)
nagpur_mask = translated_newsdata['translated_title'].str.contains('nagpur', case=False, na=False) | \
       translated_newsdata['description'].str.contains('nagpur', case=False, na=False)

only_nagpur_data = translated_newsdata[nagpur_mask].copy()

In [18]:
only_nagpur_data.value_counts('language')

language
english      1539
hindi         864
marathi       383
kannada        60
gujarati       58
tamil          48
bengali        36
malayalam      26
telugu         20
punjabi        12
urdu            8
oriya           6
assamese        2
Name: count, dtype: int64

In [23]:
only_nagpur_data.to_csv('path/to/data-files/only_nagpur_data.csv', index=False)

# Muslim Keyword Analysis Dataset

In [20]:
# The relevant columns are treated as strings and check for "muslim"
# (case-insensitive)
muslim_mask = translated_newsdata['translated_title'].str.contains('muslim', case=False, na=False) | \
       translated_newsdata['description'].str.contains('muslim', case=False, na=False)

only_muslim_data = translated_newsdata[muslim_mask].copy()

In [21]:
only_muslim_data.shape

(2188, 19)

In [24]:
only_muslim_data.to_csv('/content/only_muslim_data.csv', index=False)